CCTV Violation Monitoring with FTP and Cloud Storage Integration.json
{
  "name": "CCTV Violation Monitoring with FTP and Cloud Storage Integration",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "id": "4a84d7f4-6c94-4fcb-a8e8-1eafdcfeb93f",
      "name": "Monitor Every 30 Seconds",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        256,
        524
      ]
    },
    {
      "parameters": {
        "operation": "list",
        "path": "/192.168.2.88/Camera 01/",
        "recursive": true,
        "options": {}
      },
      "id": "d1bbfcbb-8b9e-4506-ae7b-4b29324dd6db",
      "name": "Fetch Camera Images from FTP",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        480,
        524
      ],
      "credentials": {
        "ftp": {
          "id": "8zk6HRff6uyU3GGT",
          "name": "FTP account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0bb26358-86f8-491b-bb8e-5304ded99545",
      "name": "Process Cameras in Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        704,
        524
      ]
    },
    {
      "parameters": {
        "path": "={{ $json.path }}",
        "options": {}
      },
      "id": "6f724d20-a767-46bf-9c43-1edd8790d949",
      "name": "Download Camera Image",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        928,
        400
      ],
      "credentials": {
        "ftp": {
          "id": "8zk6HRff6uyU3GGT",
          "name": "FTP account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $binary.data }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a safety monitoring AI for a spices manufacturing plant. Analyze CCTV images to detect:\n\n1. PPE COMPLIANCE: Missing safety helmets, gloves, masks, safety shoes, aprons, hair nets\n2. SAFETY VIOLATIONS: Unsafe behavior, improper equipment use, blocked emergency exits, fire hazards\n3. RESTRICTED AREA VIOLATIONS: Unauthorized personnel in production, warehouse, or dispatch areas\n4. ABNORMAL ACTIVITIES: Spills, equipment malfunction, unusual gatherings, suspicious behavior\n\nFor each image, respond with a JSON object:\n{\n  \"violation_detected\": true/false,\n  \"event_type\": \"PPE_VIOLATION\" | \"SAFETY_VIOLATION\" | \"RESTRICTED_AREA\" | \"ABNORMAL_ACTIVITY\" | \"NO_VIOLATION\",\n  \"severity\": \"CRITICAL\" | \"HIGH\" | \"MEDIUM\" | \"LOW\" | \"NONE\",\n  \"specific_violations\": [\"missing helmet\", \"no gloves\", etc.],\n  \"description\": \"Brief description of what was detected\",\n  \"section\": \"production\" | \"packing\" | \"warehouse\" | \"dispatch\" | \"unknown\"\n}"
        }
      },
      "id": "92556121-afa3-449e-97f9-4e4969047b8e",
      "name": "Analyze Image for Violations",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1376,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "camera_id",
              "value": "={{ $('Preserve Image Binary').item.json.name }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "violation_detected",
              "value": "={{ $json.output.violation_detected }}",
              "type": "boolean"
            },
            {
              "id": "id-4",
              "name": "event_type",
              "value": "={{ $json.output.event_type }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "severity",
              "value": "={{ $json.output.severity }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "description",
              "value": "={{ $json.output.description }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "specific_violations",
              "value": "={{ $json.output.specific_violations.join(', ') }}",
              "type": "string"
            },
            {
              "id": "id-8",
              "name": "section",
              "value": "={{ $json.output.section }}",
              "type": "string"
            },
            {
              "id": "id-9",
              "name": "image_filename",
              "value": "={{ $('Preserve Image Binary').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "3e3d89a2-d7f3-4e4f-a93e-78d0857aa9a3",
      "name": "Parse AI Analysis",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1728,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.violation_detected }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e65b4e5a-7e51-4dbc-9e6d-62e02febba97",
      "name": "Check if Violation Detected",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1952,
        400
      ]
    },
    {
      "parameters": {
        "name": "={{ $json.camera_id }}_{{ $json.timestamp }}.jpg",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "1HxKzxTrk5alS9KARHU9zTiVXES6IZVO8"
        },
        "options": {
          "simplifyOutput": false
        }
      },
      "id": "440eef12-dd7c-42b8-a9b0-a8defae66fd2",
      "name": "Upload Violation Image to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2400,
        304
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3twku7aDJTHIzP1K",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "timestamp",
              "value": "={{ $('Parse AI Analysis').item.json.timestamp }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "camera_id",
              "value": "={{ $('Parse AI Analysis').item.json.camera_id }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "section",
              "value": "={{ $('Parse AI Analysis').item.json.section }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "event_type",
              "value": "={{ $('Parse AI Analysis').item.json.event_type }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "severity",
              "value": "={{ $('Parse AI Analysis').item.json.severity }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "description",
              "value": "={{ $('Parse AI Analysis').item.json.description }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "specific_violations",
              "value": "={{ $('Parse AI Analysis').item.json.specific_violations }}",
              "type": "string"
            },
            {
              "id": "id-8",
              "name": "violation_detected",
              "value": "={{ $('Parse AI Analysis').item.json.violation_detected }}",
              "type": "boolean"
            },
            {
              "id": "id-9",
              "name": "image_url",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d171b1d6-ba6d-48ca-a95b-782bed3bfa3d",
      "name": "Add Image URL to Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2624,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "image_url",
              "value": "N/A",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "dc4eca62-411c-4e1b-a0e7-7227c10dc4b3",
      "name": "Mark No Violation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2624,
        496
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "Timestamp",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "Camera_ID",
              "value": "={{ $json.camera_id }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "Section",
              "value": "={{ $json.section }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "Event_Type",
              "value": "={{ $json.event_type }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "Severity",
              "value": "={{ $json.severity }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "Description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "Specific_Violations",
              "value": "={{ $json.specific_violations }}",
              "type": "string"
            },
            {
              "id": "id-8",
              "name": "Violation_Status",
              "value": "={{ $json.violation_detected ? 'VIOLATION' : 'NORMAL' }}",
              "type": "string"
            },
            {
              "id": "id-9",
              "name": "Image_URL",
              "value": "={{ $json.image_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b83cbc03-33e7-4944-9992-616ba90d9375",
      "name": "Prepare Sheet Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2848,
        400
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18cfgyHMGpoNGLzqGalg7DIu0VFKtIihUh-Nzn2HQDKQ",
          "mode": "list",
          "cachedResultName": "USERWISE ASSETS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18cfgyHMGpoNGLzqGalg7DIu0VFKtIihUh-Nzn2HQDKQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18cfgyHMGpoNGLzqGalg7DIu0VFKtIihUh-Nzn2HQDKQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "0b824211-c5a9-4e76-8bc1-609d6357604e",
      "name": "Log to Monitoring Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3072,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RJ8qd7neIVHByL1U",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "batch_complete",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "83d478a2-e28b-442f-9978-c60286c02be0",
      "name": "Loop Back Control",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3296,
        524
      ]
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.2
        }
      },
      "id": "a938f7d0-5ce2-45b1-a7d6-b8e8d9eefd50",
      "name": "Google Gemini Vision Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1384,
        624
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "08J84ARPY1Nd0Ll1",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"violation_detected\": {\n      \"type\": \"boolean\",\n      \"description\": \"Whether a violation was detected in the image\"\n    },\n    \"event_type\": {\n      \"type\": \"string\",\n      \"enum\": [\n        \"PPE_VIOLATION\",\n        \"SAFETY_VIOLATION\",\n        \"RESTRICTED_AREA\",\n        \"ABNORMAL_ACTIVITY\",\n        \"NO_VIOLATION\"\n      ],\n      \"description\": \"Main event category detected in the image\"\n    },\n    \"severity\": {\n      \"type\": \"string\",\n      \"enum\": [\"CRITICAL\", \"HIGH\", \"MEDIUM\", \"LOW\", \"NONE\"],\n      \"description\": \"Severity level of the detected event\"\n    },\n    \"specific_violations\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\",\n        \"enum\": [\n          \"NO_HAIRNET\",\n          \"NO_MASK\",\n          \"NO_GLOVES\",\n          \"NO_APRON\",\n          \"NO_UNIFORM\",\n          \"NO_SAFETY_SHOES\",\n          \"NO_HELMET\",\n          \"NO_REFLECTIVE_JACKET\",\n\n          \"SPITTING\",\n          \"SMOKING\",\n          \"EATING_IN_RESTRICTED_AREA\",\n          \"DRINKING_IN_RESTRICTED_AREA\",\n          \"MOBILE_PHONE_USAGE\",\n          \"UNAUTHORIZED_ENTRY\",\n\n          \"FIRE_DETECTED\",\n          \"WATER_SPILL\",\n          \"SPARK_DETECTED\",\n          \"SLIP_HAZARD\",\n          \"BLOCKED_PATH\",\n          \"BLOCKED_EXIT\",\n          \"UNSAFE_MATERIAL_HANDLING\",\n\n          \"PERSON_DOWN\",\n          \"CROWDING\",\n          \"IDLE_ACTIVITY\",\n          \"ABNORMAL_MOVEMENT\"\n        ]\n      },\n      \"description\": \"List of specific violations detected in the image\"\n    },\n    \"description\": {\n      \"type\": \"string\",\n      \"description\": \"Brief human-readable description of what was detected\"\n    },\n    \"section\": {\n      \"type\": \"string\",\n      \"enum\": [\"production\", \"packing\", \"warehouse\", \"dispatch\", \"unknown\"],\n      \"description\": \"Facility section where the event occurred\"\n    }\n  },\n  \"required\": [\n    \"violation_detected\",\n    \"event_type\",\n    \"severity\",\n    \"specific_violations\",\n    \"description\",\n    \"section\"\n  ]\n}"
      },
      "id": "2c8483b6-a98c-4775-86c2-7c2f101608d1",
      "name": "Structured JSON Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1512,
        624
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "image_path",
              "value": "={{ $json.path }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "5588b27f-0df6-46a6-b3a9-60ea8494057b",
      "name": "Preserve Image Binary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const preserveImageNode = $('Preserve Image Binary');\nconst binaryData = preserveImageNode.item.binary;\n\nreturn items.map(item => ({\n  json: item.json,\n  binary: binaryData\n}));"
      },
      "id": "59849b4c-648a-4d15-b4c0-9a347b4b58a0",
      "name": "Attach Binary Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2176,
        304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Monitor Every 30 Seconds": {
      "main": [
        [
          {
            "node": "Fetch Camera Images from FTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Camera Images from FTP": {
      "main": [
        [
          {
            "node": "Process Cameras in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Cameras in Batches": {
      "main": [
        [],
        [
          {
            "node": "Download Camera Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Camera Image": {
      "main": [
        [
          {
            "node": "Preserve Image Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Image for Violations": {
      "main": [
        [
          {
            "node": "Parse AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Analysis": {
      "main": [
        [
          {
            "node": "Check if Violation Detected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Violation Detected": {
      "main": [
        [
          {
            "node": "Attach Binary Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark No Violation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Violation Image to Drive": {
      "main": [
        [
          {
            "node": "Add Image URL to Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Image URL to Data": {
      "main": [
        [
          {
            "node": "Prepare Sheet Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark No Violation": {
      "main": [
        [
          {
            "node": "Prepare Sheet Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sheet Data": {
      "main": [
        [
          {
            "node": "Log to Monitoring Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Monitoring Sheet": {
      "main": [
        [
          {
            "node": "Loop Back Control",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Back Control": {
      "main": [
        [
          {
            "node": "Process Cameras in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Vision Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analyze Image for Violations",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured JSON Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Analyze Image for Violations",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Preserve Image Binary": {
      "main": [
        [
          {
            "node": "Analyze Image for Violations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Binary Data": {
      "main": [
        [
          {
            "node": "Upload Violation Image to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "availableInMCP": false
  },
  "versionId": "22bdf4b6-b518-4c65-a623-717283a385a1",
  "meta": {
    "instanceId": "dae75d20fff857d5f954a859a596d6c29e01e97ab2385ff84fb7334bb8c0b17a"
  },
  "id": "jx26v4RFiWuutYYt",
  "tags": []
}